

.modal-window-button{
    background-color: rgba(240, 248, 255, 0);
    border-style: solid;
    border-color: rgba(240, 248, 255, 0);
    
}

.modal-window-button:hover{
    background-color: rgba(255, 255, 255, 0.325);
    border-color: rgba(255, 255, 255, 0.679);
    cursor: pointer;
}


/* -------------модальное окно------------- */

.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0,0,0,0);
    display: grid;          /* центрирование окна по центру */
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;         /* скрыть окно */
    opacity: 0;                 /* скрыть окно */
    transition: opacity .1s, visibility .1s;
}
.modal-box{
    max-width: 800px;
    /* padding: 45px; */
    z-index: 1;
    margin: 30px 15px;   /* верх-низ право-лево */
    background-color: rgb(255, 255, 255);
    
}

.modal.open{
    visibility: visible;
    opacity: 1;
}


/* -----------chernovik-styles-------------- */

.popup{

    display: inline-block;
    flex-direction: column;
    background-color: #FEE8EB;
}

.header-popup{
    height: 36px;
    background-color: #DBD6FD;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    
    align-items: center;
    
    
}
.popup-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    
}

.popup-image{
    /* justify-content: center; */
}

.window-name-text{
    color: black;
}

.popup-text{
    margin-left: 10px;
    flex: 1;
    
}

.popup-close-button{
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    align-self: center;
}

.close-button-image{
    width: 36px;
    height: 31px;
    /* background-color: white; */
    background-image: url('../../photos/popup-img/close-button.png');
    
    border: none;
}

.close-button-image:hover{
    cursor: pointer;
    background-image: url('../../photos/popup-img/close-button-hover.png');
}

.contact-us{
    background-color: #FEE8EB;
}

.mail-and-number{
    display: flex;
    flex-direction: row;
    /* margin-left: 20px;
    margin-right: 12px; */
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 12px;
    justify-content: space-between;
    background-color: #FEE8EB;
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
    border-color: white #EB2864 #EB2864 white;

}

.mail{
    color: #EB2864;
}
.mail:hover{
    cursor: pointer;
}

.phone-number{
    font-family: 'pixel-font', sans-serif;
    color: #EB2864;
    font-size: 20px;
}

/* ----------------------------------------------------------- */
/* текст по разработке */
.razrabotka-text{
    margin: 60px 30px;
    max-width: 300px;
    
}